.projects-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 40px 0 20px 0;
  width: 90%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-header-logo {
  width: 110px;
}

.projects-line {
  flex: 1;
  min-width: 100px;
  max-width: 200px;
  height: 0.5px;
  background: black;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 16px;
  width: 100%;
  max-width: 590px;
  margin: 0 0;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
}

.project-info {
  width: 300px;
}

.project-info, .project-preview { flex: 1; width: auto; } .project-preview { display: flex; justify-content: center; }


.project-header-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.project-description {
  font-size: 0.75rem;
  line-height: 1;
  margin: 1px 0;
}

.tech-row {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 7px;
  padding-bottom: 10px;
}

.tech-tag img {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  vertical-align: middle;
}

.tech-tag {
  border: black 0px solid;
  padding: 4px 5px 2px 5px;
  border-radius: 6px;
  font-size: 0.70rem;
  transition: background 0.4s ease;
}

.project-preview {
  flex: 1;
  width: 300px;
  overflow: hidden;
}

.project-preview img {
  height: 130px;
  width: 200px;
  object-fit: cover;
  object-position: left;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.active-dot {
  background: black;
}


@media (max-width: 590px) {
  .project-card {
    width: 90vw;
    max-width: none;
    min-width: 320px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .project-info {
    width: 100%;
  }

  .project-preview {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .project-preview img {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  @media (max-width: 590px) {
  .project-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tech-row {
    justify-content: center;
  }
}

}
