.projects-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 40px 0 20px 0;
}

.projects-header-logo {
  width: 110px;
}

.projects-line {
  width: 200px;
  height: 1px;
  background: black;
}

.project-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #f9f9f9;
  border-radius: 16px;
  padding: 24px;
  gap: 14px;
  height: 100px;
  width: 500px;
  margin: 0px auto;
  flex-wrap: wrap;
}

.project-info {
  width: 300px;
}

.project-header-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.project-description {
  font-size: 0.75rem;
  line-height: 1;
  margin: 4px 0;
}

.tech-row {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 7px;
}

.tech-tag img {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  vertical-align: middle;
}

.tech-tag {
  border: black 1px solid;
  padding: 4px 5px 4px 20px;
  border-radius: 6px;
  font-size: 0.75rem;
  transition: background 0.4s ease;
}

.project-preview {
  flex: 1;
  width: 100%;;
  overflow: hidden;
}

.project-preview img {
  height: 100px;
  width: 320px;
  object-fit: cover;
  object-position: top;
}