.projects-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 40px 0 20px 0;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-header-logo {
  width: 110px;
}

.projects-line {
  width: 200px;
  height: 1px;
  background: black;
}

.project-card {
  display: flex;
  align-items: cen;
  justify-content: space-between;
  background: #f9f9f9;
  border-radius: 16px;
  padding: 24px;
  gap: 14px;
  height: 120px;
  width: 500px;
  margin: 0px auto;
  flex-wrap: wrap;
}

.project-info {
  width: 300px;
}

.project-header-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.project-description {
  font-size: 0.75rem;
  line-height: 1;
  margin: 1px 0;
}

.tech-row {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 7px;
}

.tech-tag img {
  width: 12px;
  height: 12px;
  margin-right: 6px;
  vertical-align: middle;
}

.tech-tag {
  border: black 1px solid;
  padding: 4px 5px 2px 5px;
  border-radius: 6px;
  font-size: 0.70rem;
  transition: background 0.4s ease;
}

.project-preview {
  flex: 1;
  width: 400px;
  overflow: hidden;
}

.project-preview img {
  height: 130px;
  width: 200px;
  object-fit: cover;
  object-position: left;
}

.dots-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.active-dot {
  background: black;
}
