.extra-card {
  background: transparent;
  border-radius: 16px;
  padding: 24px;
  margin: 0px auto 20px auto;
  width: 500px;
}

.header-extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.header h2 {
  font-size: 2.2rem;
}

.design-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
  overflow: hidden;
}

.design-logos img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.design-carousel {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  position: relative;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 15%,
    black 85%,
    transparent 100%
  );
}


.carousel-track {
  display: flex;
  gap: 10px;
  animation: scrollLoop 12s linear infinite;
}

.carousel-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.carousel-img:hover {
  transform: scale(1.05);
}

@keyframes scrollLoop {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  height: 100dvh;
  height: 100lvh;

  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  cursor: pointer;
}

.modal-image {
  max-width: 85%;
  max-height: 85%;
  animation: popupFade 0.2s ease-out;
}

@keyframes popupFade {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
