.header {
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.header-left {
  max-width: 250px;
}

.code-font {
  padding-left: 5px;
  padding-right: 2px;
  font-family: "Source Code Pro", monospace;
}

.segoe-font {
  color: #b9a4d7;
}


.impact-font {
  font-weight: bold;
}

.intro-text {
  margin: 0 0 0.25rem 0;
  font-size: 1rem;
  font-weight: lighter;
}

.about-me-description {
  font-size: 0.8rem;
  font-weight: lighter;
  width: 250px;
}

.about-me-description span {
  font-weight: bold;
}

.name-logo {
  display: flex;
  width: 250px;
}

.illustration {
  width: 230px;
  flex-shrink: 0;
  margin-left: -15%;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.icon.github {
  width: 26px;
  height: 26px;
}


.icon:hover {
  transform: scale(1.15);
}

@media (max-width: 500px) {
  .illustration {
    margin-left: 0;
  }
}
