.header {
  max-width: 600px;
  min-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.header-left {
  max-width: 250px;
}

.intro-text span {
  font-weight: bold;
}

.intro-text {
  margin: 0 0 0.25rem 0;
  font-size: 1rem;
  font-weight: lighter;
}

.about-me-description {
  font-size: 0.8rem;
  font-weight: lighter;
  width: 250px;
}

.about-me-description span {
  font-weight: bold;
}

.name-logo {
  display: flex;
  width: 250px;
}

.illustration {
  width: 230px;
  flex-shrink: 0;
  margin-left: -15%;
}