.navbar {
    top: 30vh;
    height: 40vh;
    display: flex;
    justify-content: left;
    margin-left: 30px;
}

.navbar-box {
  background: white;
  border-radius: 20px;
  padding: 20px 10px;
  width: 40px;
  height: 90%;
  display: flex;
  justify-content: center;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}
