.navbar {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  min-width: 320px;
  z-index: 1000;
  height: 50px;
  padding: 15px 0;
}

.navbar-box {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 10px 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
}