*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Microsoft PhagsPa", sans-serif;
  background: white;
  color: #1d1e25;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page-wrapper {
  background: #f2f2f2;
  max-width: 700px;
  min-width: 360px;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 40px 40px 0 0; /* only top corners rounded */
  min-height: 100vh;            /* stretch to full page height */
  box-sizing: border-box;
}